.grid {
  border:#173f5f solid 1px;
  width: 100%;
  aspect-ratio: 1/1;
  flex: 1 1 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#container {
  padding: 60px;
}

#pad {
    box-sizing: border-box;
    height: 600px;
    width: 600px;
    margin-top: 50px;
    border:#173f5f solid 5px; 
    margin: auto;
}

body{
    background-color: #F6D55C;
}

button{
    margin-top: 50px;
    background-color: #3CAEA3;
    padding: 10px 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #173f5f;
    font-weight: 800;
    border: #173f5f solid 2px;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #173f5f;
}